#myHeader {
    background-color: rgb(102, 84, 94);
}

#myHeader > p {
    font-size: 30px;
    color: rgb(198, 185, 193) !important;
}

#inputRow {
    width: 90%;
    font-size: 16px;
}

#inputRow > input {
    width: 80%;
}

#inputRow > button {
    width: 20%;
    background-color: rgb(238, 169, 144);
}

#inputRow > button:hover {
    width: 20%;
    background-color: rgb(175, 157, 166);
    transition: 0.8s;
}

.float1 {
    float: left;
}

#addedItems {
    font-size: 20px;
}

.my-selected {
    background-color: rgb(154, 126, 143) !important;
    color: white !important;
    transition: 0.3s;
}

.correctSign {
    transition: 0.3s;
    color: white !important;

}

 tr:nth-child(2n+1) {
    background-color: rgb(221, 213, 218);
 }










